.header {
    height: 15.7rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
}

.avatar_container {
    height: 9rem;
    display: flex;
    align-content: center;
    justify-content: left;
    gap: 3.5em; 
}

.image {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    overflow: visible;
    object-fit: none;
}


.main_navigation ul {
    height: 9rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 1.5rem;
    gap: 5em;
}
.main_navigation li {
    list-style-type: none;
}

.main_navigation li.active {
    color: #2176FF;
}

@media screen and (max-width: 480px) {
    .avatar_container div:first-child {
        display: none;
    }
    .header {
        height: 20rem;
    }

    .header * {
        font-size: 2.5rem;
    }
  }
  






