.main_container {
    top: 0;
    height: auto;
    position: fixed !important;
    z-index: 9999;
    display: none;
}

.navigation_wrapper {
    margin: 10em;
}

.navigation_wrapper li {
    list-style-type: none;
    margin: 1em 0;
    text-align: left;
    color: gray;
    font-weight: bold;
    font-size: 10px;
}

.active {
    color: #2176FF;
    text-decoration: underline;
}


@media screen and (max-width: 480px) {
   .main_container {
       display: block;
   }
}