.main_container {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
}

.experience_container {
  display: block;
  cursor: pointer;
  position: relative;
  height: 16.8rem;
  width: 16.8rem;
  user-select: none;
}

.experience_container input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.experience_checkmark {
  position: absolute;
  width: 16.8rem;
  height: 16.8rem;
  border: 0px solid #2176ff;
  background: #0f0f0f;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 4px rgba(14, 14, 14, 0.6),
    inset -10px -10px 30px rgba(0, 0, 0, 0.25),
    inset 10px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transition: 0.2s ease-in;
  z-index: 0;
}

.experience_container:hover input ~ .experience_checkmark,
.experience_container input:checked ~ .experience_checkmark {
  background: #0f0f0f;
  border: 5px solid #2176ff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 4px rgba(14, 14, 14, 0.6),
    inset 10px 10px 30px rgba(33, 118, 255, 0.25),
    inset -10px -10px 30px rgba(33, 118, 255, 0.25);
  cursor: pointer;
  outline: none;
}

.icon {
  position: absolute;
  width: 6.2rem;
  height: 6.2rem;
  z-index: 2;
  fill: #ffffff;
  opacity: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  transition: 0.2s ease-in;
}

.experience_container:hover input ~ .icon,
.experience_container input:checked ~ .icon {
  fill: #2176ff;
  user-select: none;
  opacity: 100%;
}

.small_circle_container {
  display: flex;
  align-items: center;
}

.small_circle {
  width: 2.8rem;
  height: 2.8rem;
  background: #151515;
  border-radius: 50%;
  margin: 0 2em;
}

.year {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 2.7rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .small_circle:nth-child(even) {
    display: none;
  }
}
