p.header,
p.name {
  font-size: 4.8rem;
}

p.header {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
}

p.name {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  color: #2176FF;
  position: relative;
  width: 20ch;
}

p.description {
  font-size: 2.8rem;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 40ch;
}

.section_container {
  /* padding-top: 5.1rem;
  padding-bottom: 13.7rem; */
  margin: 0 auto;
}

.main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5.1rem;
    padding-bottom: 13.7rem;
    gap: 7.2rem;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
  }

.text_container {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}

.image {
    border-radius: 50%;
}

