
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  background-color: #070707;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FDFDFD;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.8rem;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  font-weight: normal;
  font-family: Libre Franklin;
}

li {
  font-size: 2rem;
  font-weight: bold;
}